/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
	font-family: "GrotzecCond-Demibold";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}

@font-face {
	font-family: "GrotzecCond-DemiboldItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}

@font-face {
	font-family: "LeJeunePoster-Regular";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
}

@font-face {
	font-family: "LeJeunePoster-RegularItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ----- SET COLOR VARIABLES ----- */

:root {
	--yellow: #fed527;
	--dark-yellow: #b3940d;
	--navy: #0001b3;
	--dark-navy: #000066;
	--pink: #ff0dd9;
	--dark-pink: #b31299;
	--font-main: #3e3d3d;
	--font-sub: #747272;
	--background-gray: #edebeb;
	--serif: "PT Serif", serif;
	--sans-serif: "PT Sans", sans-serif;
	--grotzec: "GrotzecCond-Demibold";
	--grotzec-italic: "GrotzecCond-DemiboldItalic";
	--lejeune: "LeJeunePoster-Regular";
	--lejeune-italic: "LeJeunePoster-RegularItalic";
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;900&family=Overpass:ital,wght@0,300;0,700;1,400&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-family: var(--sans-serif);
	font-size: 18px;
	color: #303030;
}

a:link,
a:visited {
	color: #fc0594;
}

a:hover {
	color: #ffc7e8;
	transition: 0.4s;
}

h2 {
	font-family: var(--grotzec);
	display: inline;
	margin-right: 20px;
}

img {
	display: inline;
}

.title {
	text-align: center;
	margin-bottom: 30px;
}

h4 {
	margin: 0 auto;
	width: 45ch;
	text-align: center;
}

.chart {
	width: 90%;
	margin: 5em auto;
}

.container {
	height: 450px;
	max-width: 1280px;
	margin: 3em auto;
	border: 10px solid rgba(211, 211, 211, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

/* #match-stock, */
#survey {
	width: 950px;
	max-width: 1000px;
	position: relative;
}

/* #each-survey {
	height: 200px;
	width: 600px;
	position: relative;
} */

#questions {
	font-size: 10px;
	color: rgb(147, 147, 147);
	line-height: 1;
	margin: 0;
	padding: 0 3em 0 0;
}

#questions > li {
	margin: 0.8em 0;
	cursor: pointer;
}

.question-active {
	font-weight: bold;
	color: black;
}

#question {
	width: 350px;
	font-size: 16px;
	line-height: 1;
}

.color-description > p {
	margin: 3em auto 0;
	width: 500px;
	font-size: 14px;
	text-align: center;
	line-height: 1;
}

.legend-container {
	margin: 0 auto;
}

.color-legend {
	font-size: 10px;
}

#intro,
#outro {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}

article {
	font-size: 14px;
}

.hot-pink {
	background: #fc0594;
	color: white;
}

.pink {
	background: #ffc7e8;
}

.black {
	background: black;
	color: white;
}

/* #description {
	font-size: 12px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
} */

/* .svg-container {
	display: flex;
} */

/* .legend {
	font-size: 10px;
} */

path.domain {
	display: none;
}

.x-axis > .tick > line {
	display: none;
}

/* .accent-time {
	font-size: 14px;
	fill: red;
}

.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	border-radius: 0.1em;
}

.source {
	font-size: 0.8em;
	color: gray;
	text-align: right;
	padding: 0 2em 0 0;
} */
