@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;900&family=Overpass:ital,wght@0,300;0,700;1,400&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-family: "Overpass", sans-serif;
	font-size: 18px;
	color: #303030;
}

h4 {
	margin: 0 auto;
	width: 45ch;
	text-align: center;
}

.chart {
	width: 90%;
	margin: 0 auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#match-stock,
#survey {
	height: 300px;
	width: 80%;
	max-width: 1000px;
	position: relative;
}

#questions {
	font-size: 10px;
	color: rgb(147, 147, 147);
	line-height: 1;
	margin: 0;
}

#questions > li {
	margin: 0.8em 0;
	cursor: pointer;
}

.question-active {
	font-weight: bold;
	color: black;
}

.accent-time {
	font-size: 14px;
	fill: red;
}

.tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: fit-content;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 0.8em;
	padding: 0.2em 0.5em;
	border-radius: 0.1em;
}

.source {
	font-size: 0.8em;
	color: gray;
	text-align: right;
	padding: 0 2em 0 0;
}
