/* ----------------------  LOAD FONTS FROM SERVER ------------------------------ */

@font-face {
	font-family: "GrotzecCond-Demibold";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-Demibold3.woff2);
}

@font-face {
	font-family: "GrotzecCond-DemiboldItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/GrotzecCond-DemiboldItalic.woff2);
}

@font-face {
	font-family: "LeJeunePoster-Regular";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-Regular.otf);
}

@font-face {
	font-family: "LeJeunePoster-RegularItalic";
	src: url(https://mediainnovation.camd.northeastern.edu/2021/loveinthetimeofcovid/fonts/LeJeunePoster-RegularItalic.otf);
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ----- SET COLOR VARIABLES ----- */

:root {
	--yellow: #fed527;
	--dark-yellow: #b3940d;
	--navy: #0001b3;
	--dark-navy: #000066;
	--pink: #ff0dd9;
	--dark-pink: #b31299;
	--font-main: #3e3d3d;
	--font-sub: #747272;
	--background-gray: #edebeb;
	--serif: "PT Serif", serif;
	--sans-serif: "PT Sans", sans-serif;
	--grotzec: "GrotzecCond-Demibold";
	--grotzec-italic: "GrotzecCond-DemiboldItalic";
	--lejeune: "LeJeunePoster-Regular";
	--lejeune-italic: "LeJeunePoster-RegularItalic";
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;900&family=Overpass:ital,wght@0,300;0,700;1,400&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
	font-family: var(--sans-serif);
	font-size: 18px;
	color: #303030;
}

a:link,
a:visited {
	color: #fc0594;
}

a:hover {
	color: #ffc7e8;
	transition: 0.4s;
}

h1,
h2 {
	font-family: var(--grotzec);
	margin: 0 auto;
}

h4 {
	margin: 0 auto;
	width: 45ch;
	text-align: center;
}

.title {
	text-align: center;
	margin: 3em auto;
}

article {
	width: 60%;
	max-width: 650px;
	margin: 0 auto;
}

@media (max-width: 576px) {
	article {
		width: 80%;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	font-size: 0.8em;
}

#menuToggle {
	width: 100px;
}

.arrow {
	width: 23.63px;
	margin: 3em auto 0;
}

.fa-chevron-down {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: fa-angle-down;
	animation-timing-function: ease;
	font-size: 1.5em;
	text-align: center;
}

@keyframes fa-angle-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}

/* ---------- DATA VIZ --------- */
.chart__container {
	max-width: 1210px;
	min-height: 50vh;
	margin: 7em auto;
	/* background: rgba(255, 255, 0, 0.481); */
	display: flex;
	position: relative;
}

.chart__article {
	width: 35%;
	max-width: 450px;
	position: relative;
}

.loneliness-highlighter {
	background: var(--dark-navy);
	color: white;
}

.risk-highlighter {
	background: var(--dark-pink);
	color: white;
}

.relationship-highlighter {
	background: var(--dark-yellow);
	color: white;
}

.hotpink-highlighter {
	background: #fc0594;
	color: white;
	z-index: -1;
}

.pink-highlighter {
	background: #ffc7e8;
	z-index: -1;
}

.black-highlighter {
	background: black;
	color: white;
	z-index: -1;
}

.hotpink {
	color: #fc0594;
}

.pink {
	color: #ffc7e8;
}

.gray {
	color: #aaa;
}

.white {
	font-size: 0.5em;
}

.figure__container {
	max-width: 850px;
	flex: 1 1 70%;
	margin: 0 2em;
}

.chart__figure {
	height: 350px;
	margin: 0;
	width: 100%;
	position: sticky;
	top: 25vh;
}

.tooltip {
	position: sticky;
	top: 460px;
	left: 0;
	width: fit-content;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 0.8em;
	padding: 0.5em 1em;
}

.question > p {
	font-size: 20px;
	margin: 0 auto;
	width: 30vw;
	line-height: 1;
	font-family: var(--grotzec);
	text-align: center;
}

.step {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 50vh;
	padding: 0 2em;
	opacity: 0.3;
	margin: 30vh 0;
}

.step-active {
	opacity: 1;
	transition: opacity 0.1s ease;
}

path.domain {
	display: none;
}

.x-axis > .tick > line {
	display: none;
}

.x-axis > .tick > text {
	font-size: 12px;
	font-family: var(--sans-serif);
}

.dehighlight {
	opacity: 0.1;
}

.devide {
	height: 100vh;
}

#outro {
	background: var(--background-gray);
	padding: 5em 0;
}

#outro > article {
	width: 80%;
	max-width: 600px;
	font-size: 0.8em;
	margin: 0 auto;
}

@media (max-width: 1100px) {
	body {
		font-size: 16px;
	}

	.x-axis > .tick > text {
		font-size: 10px;
		font-family: var(--sans-serif);
	}
}

@media (max-width: 900px) {
	.chart__container {
		display: block;
		position: relative;
	}
	.figure__container {
		position: sticky;
		top: 0;
	}
	.chart__figure {
		position: relative;
		top: 0;
		background-color: white;
		padding: 2em 0;
	}
	.chart__article {
		width: 80%;
		max-width: unset;
		z-index: -1;
	}
	.step {
		margin: 50vh 0;
		background: rgb(0, 0, 0, 0.8);
		color: white;
		min-height: unset;
		padding: 1em 2em;
	}
	#step__-1,
	#step__-2,
	#step__-4 {
		background: unset;
	}

	.question > p {
		width: 80vw;
	}
}

@media (max-width: 576px) {
	.figure__container {
		margin: 0;
	}
	.x-axis > .tick > text {
		font-size: 6px;
	}
}
